<!DOCTYPE html>
<html class="no-js">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{{ page.title }}</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->

    {% include styles.html %}

    <!-- build:js({app,.tmp}) /assets/js/modernizr.js -->
    <script src="/_bower_components/modernizr/modernizr.js"></script>
    <!-- endbuild -->

    <script type="text/javascript" src="//use.typekit.net/tmf8ygo.js"></script>
    <script type="text/javascript">try{Typekit.load();}catch(e){}</script>


    <script>
<!--
function getStylesheet() {
      var currentTime = new Date().getHours();
      if (0 <= currentTime&&currentTime < 9) {
       document.write("<link rel='stylesheet' href='/assets/css/night.css' type='text/css'>");
      }

      if (9 <= currentTime&&currentTime < 21) {
       document.write("<link rel='stylesheet' href='/assets/css/day.css' type='text/css'>");
      }

      if (21 <= currentTime&&currentTime <= 24) {
       document.write("<link rel='stylesheet' href='/assets/css/night.css' type='text/css'>");
      }
}

getStylesheet();
-->
</script>

<noscript><link href="main.css" rel="stylesheet"></noscript>


  </head>

  <body>
    <!--[if lt IE 7]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    <div class="about">
      <div class="core">
        <p><strong>21 year old Irish photographer.</strong><br /><br />
        <strong>Clients:</strong><br />
        Dazed & Confused, American Apparel, Thread Magazine, USED Magazine, NCAD, Danielle Romerill for Absolut, Jessica Mort, High Girl, Cromane. 
        <br /><br />
        <strong><a href="mailto:work@andrewnuding.com">work@andrewnuding.com</a></strong>
        </p>
      </div>
      <div class="secondary">
        <ul>
          <li><a href="http://instagram.com/andrewnuding">@andrewnuding</a></li>
          <li><a href="https://www.flickr.com/photos/andrewnuding/">Flickr</a></li>
        </ul>
      </div>
    </div>
    <div class="aboutHide"></div>
    
    <nav id="nav-primary" class="nav-primary">
      <ul class="{% if page.title == "Andrew Nuding" %}index{% endif %}">
        <li><a href="/">Andrew Nuding</a></li>
        <li><a class="show">About</a></li>
        <li><a href="">Blog</a></li>
      </ul>
    </nav>

    <nav id="nav-secondary" class="nav-secondary">
      <ul class="{% if page.title == "Andrew Nuding" %}index{% endif %}">
        <li><a href="/diary">Diary</a></li>
        <li><a href="/fashion">Fashion</a></li>
        <li><a href="/moving-image">Moving Image</a></li>
      </ul>
    </nav>


      {{ content }}

 

    <!--[if lte IE 8]>
      {% include scripts-ie8.html %}
    <![endif]-->

    {% include scripts.html %}
    {% include google-analytics.html %}
  </body>
</html>
