body {
	background:black!important;
}


.nav-primary a,.nav-secondary a {
	color: white;
}

.nav-primary a:hover,.nav-secondary a:hover {
	color: white;
}

.about {
	background: white;
	color: black;
}